**Pandas Practice #2**

Importing necesarry libraries to satisfy the requirenments of the tasks.

In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

1) Read the dataframe named **'tips'**.

In [2]:
df = sns.load_dataset('tips')

In [3]:
print(df.head())

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

2) Find the **min, max, and mean values of "total_bill"** variable with respect to **the time variable**.

In [4]:
print(df.groupby('time').agg({'total_bill': ['min', 'max', 'mean']}))

       total_bill
              min    max       mean
time
Lunch        7.51  43.11  17.168676
Dinner       3.07  50.81  20.797159

3) Find the **min, max and mean values of 'total_bill' column** with respect to the **time and day variables.**

In [5]:
print(df.groupby(['day', 'time']).agg({'total_bill': ['max', 'min', 'mean']}))

            total_bill
                   max    min       mean
day  time
Thur Lunch       43.11   7.51  17.664754
     Dinner      18.78  18.78  18.780000
Fri  Lunch       16.27   8.58  12.845714
     Dinner      40.17   5.75  19.663333
Sat  Lunch         NaN    NaN        NaN
     Dinner      50.81   3.07  20.441379
Sun  Lunch         NaN    NaN        NaN
     Dinner      48.17   7.25  21.410000

4) Find out the min, max and mean of the **total_bill and tips variables** for the **time variable which is equal to "Lunch"**, and **"Female" customers**.

In [9]:
print(df[(df['sex'] == 'Female') & (df['time'] == 'Lunch')].groupby('day').agg({'total_bill': ['mean', 'max', 'min'], 'tip': ['mean', 'max', 'min']}))

     total_bill                     tip
           mean    max    min      mean   max   min
day
Thur   16.64871  43.11   8.35  2.561935  5.17  1.25
Fri    13.94000  16.27  10.09  2.745000  3.48  2.00
Sat         NaN    NaN    NaN       NaN   NaN   NaN
Sun         NaN    NaN    NaN       NaN   NaN   NaN

5) Find the **mean of the orders** with respect to the **"size" is less than 3**, and **"total_bill" is bigger than 10**. **(use .loc[] to accomplish the task.)**

In [10]:
print(df.loc[(df['size'] < 3) & (df['total_bill'] > 10), :].agg({'total_bill': ['mean']}))

      total_bill
mean   17.184965

6) **Add the "total_bill" and "tip"** variables together and **store it** on dataframe with the column named **"total_bill_tip_sum"**.

In [12]:
df['total_bill_tip_sum'] = df['total_bill'] + df['tip']
print(df.head())

   total_bill   tip     sex smoker  day    time  size  tota_bill_tip_sum  \
0       16.99  1.01  Female     No  Sun  Dinner     2              18.00
1       10.34  1.66    Male     No  Sun  Dinner     3              12.00
2       21.01  3.50    Male     No  Sun  Dinner     3              24.51
3       23.68  3.31    Male     No  Sun  Dinner     2              26.99
4       24.59  3.61  Female     No  Sun  Dinner     4              28.20

   total_bill_tip_sum
0               18.00
1               12.00
2               24.51
3               26.99
4               28.20

7) Sort the dataframe with respect to the **'total_bill_tip_sum' variable and descending order**. Create a new variable called 'new_df' and **store the first thirty element** of the dataframe with respect to the descending order.

In [15]:
df = df.sort_values(by=['total_bill_tip_sum'], ascending = False)

In [17]:
print(df.shape)

(244, 8)

In [19]:
new_df = df.iloc[0:30, :]
print(new_df.shape)

(30, 8)